<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="207677354569-5iu5aep5qk8oclqldris2bjh3dk5mtr2.apps.googleusercontent.com">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <link rel="stylesheet" href="/static/questions.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
    </script>

    <script>
        const url = location.href;

        var token = new URL(url).hash.split('&').filter(function (el) { if (el.match('id_token') !== null) return true; })[0].split('=')[1];
        console.log(token);
        var base64Url = token.split('.')[1];
        var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        var jsonPayload = decodeURIComponent(window.atob(base64).split('').map(function (c) {
            return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));

        console.log(JSON.parse(jsonPayload).email);
        email = JSON.parse(jsonPayload).email;
        console.log(email);

        let data = { email: email };

        fetch("/request", {
            method: "POST",
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        }).then(res => {
            console.log("Request complete! response:", res);
        });

    </script>
    <script>
        var btns = document.querySelectorAll('input[type="radio"]')
        for (var i = 0; i < btns.length; i++)
            btns[i].checked = true;
    </script>
    <!-- <script>
        document.getElementById('submit-answer').onclick = function (e) {
            fetch("/submit-answer", {
                method: "POST",
                headers: { 'Content-Type': 'application/json' },
            })
        }
    </script> -->

</head>

<body>


    <div class="questions-container">
        <!-- <div class="row">
            <div class="col-4">
                <img src="/assets/ment-logo.png" alt="MENT">
            </div>
            <div class="col-4">
                
            </div>
            <div class="col-4">
                <img src="/assets/ment-logo.png" alt="MENT">
            </div>
        </div> -->
        <form ref="form" method="POST" , action="/submit-answers">
            <!-- <input type="email" name="email" value="<%= userEmail %>" > -->
            <div id="background">
                    <p id="bg-text">
                        <%= userEmail %>
                    </p>
                </div>
            <% for(var i=0; i < questions.length; i++) { %>
                <div class="quiz-container" id="quiz">
                    <div class="quiz-header">
                        <h2 id="question">
                            <%= questions[i][i+1] %>
                        </h2>
                        <ul>
                            <li>
                                <input type="radio" name="<%= i+1 %>" id="a" value="1" class="answer" required checked>
                                <label for="a" id="a_text">
                                    <%= questions[i].option1 %>
                                </label>
                            </li>
                            <li>
                                <input type="radio" name="<%= i+1 %>" id="b" value="2" class="answer" required>
                                <label for="b" id="b_text">
                                    <%= questions[i].option2 %>
                                </label>
                            </li>
                        </ul>
                    </div>

                </div>
                <% } %>
                    <button id="submit" style="margin-top: 5%; margin-bottom: 10%;">Submit</button>
        </form>
    </div>

    <%- include('footer') -%>